<a href="https://colab.research.google.com/github/SHAZAN01/Python/blob/main/DA_23_Python_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Functions
1. Pre-defined/built-in function
2. User defined function
3. Recursions
4. Lambda function

In [ ]:
# def function_name(parameters):
#   statement/Task

# function_name(arguments)

In [ ]:
def test():
  print('hi')

In [ ]:
test()

hi

In [ ]:
def test(name):
  # print('hi',name)
  print(f'hi {name}')

test('akhil')

hi akhil

In [ ]:
def test1(name):
  print(f'hi {name}')
  print(f'hello {name}')
  print(f'hey {name}')

test1('akhil')

hi akhil
hello akhil
hey akhil

In [ ]:
def test1(name1,name2,name3):
  print(f'hi {name1}')
  print(f'hello {name2}')
  print(f'hey {name3}')

test1('akhil','teja','bm')

hi akhil
hello teja
hey bm

In [ ]:
def test1(name2,name3,name1):
  print(f'hi {name1}')
  print(f'hello {name2}')
  print(f'hey {name3}')

test1('akhil','teja','bm')

hi bm
hello akhil
hey teja

In [ ]:
def test1(name3,name1,name2):
  print(f'hi {name1}')
  print(f'hello {name3}')
  print(f'hey {name2}')

test1('teja','akhil','bm')

####Parameter / Argument:

**Parameter :** Value passed while defining a function.

**Argument :** Value passed while calling a function.

* Parameters and arguments are ordered by default
* No. of Parameters  = No. of Arguments
* *args
* *kwargs

simple param, *args, *kwargs

In [ ]:
# Packing / Unpacking
a,b = 1,3
print(b,a)

In [ ]:
a,b,c = 1,3,2
print(b,c,a)

3 2 1

In [ ]:
a,b= 1,'3,2'
print(b,a)

In [ ]:
a,*b= 1,3,2
print(b,a)

[3, 2] 1

In [ ]:
# a = 1,2,3
a = (1,2,3)
type(a)

tuple

In [ ]:
a,*b= 1,3,4,5,6,2
print(a,b)

1 [3, 4, 5, 6, 2]

In [ ]:
a,*b,c= 1,3,4,5,6,2
print(b)

[3, 4, 5, 6]

In [ ]:
*a,b,c= 1,3,4,5,6,2
print(b,c,a)

6 2 [1, 3, 4, 5]

In [ ]:
a,*b,c= 1,[3,4],5,[6,2]
print(c,a,b)

[6, 2] 1 [[3, 4], 5]

In [ ]:
def test1(name3,*name1,name2):
  print(f'hi {name1}')
  print(f'hello {name3}')
  print(f'hey {name2}')

test1('teja','akhil','bm','mujeeb','pencil','aneed')

In [ ]:
def test1(name3,name1='akhil',name2='bm'):
  print(f'hi {name1}')
  print(f'hello {name3}')
  print(f'hey {name2}')

test1('teja')

hi akhil
hello teja
hey bm

In [ ]:
def test1(name3,name1='akhil',name2='bm'):
  print(f'hi {name1}')
  print(f'hello {name3}')
  print(f'hey {name2}')

test1('teja','mike','jike')

hi mike
hello teja
hey jike

In [ ]:
def test1(name3,*name1,name2='ferrari'):
  print(f'hi {name1}')
  print(f'hello {name3}')
  print(f'hey {name2}')

test1('teja','akhil','bm','mujeeb','pencil','aneed')

hi ('akhil', 'bm', 'mujeeb', 'pencil', 'aneed')
hello teja
hey ferrari

In [ ]:
def test1(name3='kia',*name1):
  print(f'hi {name1}')
  print(f'hello {name3}')
  # print(f'hey {name2}')

test1('teja','akhil','bm','mujeeb','pencil','aneed')

hi ('akhil', 'bm', 'mujeeb', 'pencil', 'aneed')
hello teja

In [ ]:
def test1(name1,name3='kia',*name2):
  print(f'hi {name1}')
  print(f'hello {name3}')
  print(f'hey {name2}')

test1('teja','akhil','bm','mujeeb','pencil','aneed')

hi teja
hello akhil
hey ('bm', 'mujeeb', 'pencil', 'aneed')

In [ ]:
def test1(name1,name3='kia',*name2):
  print(f'hi {name1}')
  print(f'hello {name3}')
  print(f'hey {name2[2]}')

test1('teja','akhil','bm','mujeeb','pencil','aneed')

hi teja
hello akhil
hey pencil

In [ ]:
def greet():
  print('hi')

greet()

hi

In [ ]:
def greet():
  return 'hi'

greet()
# print('hi2')

'hi'

###Recursions

In [ ]:
def numbers(start,stop):
  if (start <= stop): #1<=5 ; 2<=5; 3<=5; 4<=5; 5<=5; 6<=5
    print(start) #1; 2; 3; 4; 5
    start+=1 #start=2;3;4; 5; 6
    numbers(start,stop) #2,5; 3,5; 4,5; 5,5; 6,5;

numbers(1,5)

1
2
3
4
5

In [ ]:
# 1
def numbers(start,stop):
  if (start==stop):
    return
  else:
    print(start) #1;
    return numbers(start+1,stop)

numbers(1,5)

In [ ]:
# 2
def fun(x, y) :
  if (x == 0) : return y
  return fun(x - 1, x + y)

fun(4, 3)

13

In [ ]:
# 3
def fun(n) :
  if (n == 0): return
  print(n % 2)
  fun(n // 2)

fun(25)

1
0
0
1
1

In [ ]:
# 4
def fun( x, y):
  if (y == 0): return 0
  return (x + fun(x, y-1))

# (A) x+y    (B)x+x*y    (C)x*y    (D) x**y

In [ ]:
# 5
def fun(x, y) :
  if (y == 0) : return 0
  return x + fun(x, y - 1)


def fun2(a, b) :
  if (b == 0): return 1
  return fun(a, fun2(a, b - 1))

# (A) x+y    (B)x+x*y    (C)x*y    (D) x**y

In [ ]:
def f(n) :
  if (n <= 1) : return 1
  if (n % 2 == 0): return f(n // 2)
  return f(n // 2) + f(n // 2 + 1)

f(11)

In [ ]:
def foo(n, r) :
  if (n > 0):
    return (n % r + foo(n // r, r))
  else:
    return 0

foo(513, 2)

2

In [ ]:
# 9
def robot(n, a, b) :
  if (n <= 0): return
  robot(n - 1, a, b + n)
  print(n, a, b)
  robot(n - 1, b, a + n)

robot(2, 5, 2)

In [ ]:
# 6
def fun(n) :
  if ((n == 0) or (n == 1)) : return n
  if (n % 3 != 0): return 0
  return fun(n / 3);

In [ ]:
# 10
def f(n) :
  i = 1
  if (n >= 5): return n;
  n = n + i
  i+=1
  return f(n)

f(1)

In [ ]:
# 11
def cfi(n) :
  if (n < 1): return
  cfi(n - 1)
  cfi(n - 3)
  print(n)

cfi(8)

In [ ]:
# 12
def count(n):
  d = 1
  print(n)
  print(d)
  d+=1
  if (n > 1): count(n - 1)
  print(d)

count(3)

In [ ]:
# 13
def f(n) :
  if (n <= 1) :
    print(n)
  else:
    f(n / 2)
    print(n % 2);

f(1024);

In [ ]:
# 14
def f(n) :
  if (n // 2) :
    f(n / 2)
  print(n % 2);

f(1024);

In [ ]:
# Print factorial value of the given number ?
num = 5
p=1
for i in range(num,0,-1):
    p*=i
print(p)

120

In [ ]:
def factorial(n):
  if n==0:
    return 1
  else:
    return n*factorial(n-1) #5*f(4) -> 4*f(3) -> 3*f(2) -> 2*f(1) -> 1*f(0)

In [ ]:
factorial(5)

120

Print sum of the digits of the given input number?

123 = 1+2+3 = 6

345 = 3+4+5 = 12

In [ ]:
num = 234
# (num%10) + (num//10)%10 + (num//10)//10
# num = num//10
sum=0
while (num > 0):
  sum+=(num%10)
  num //= 10
print(sum)

9

In [ ]:
def summ(n):
  if (n == 0):
    return 0
  else:
    return (n%10)+summ(n//10)

In [ ]:
summ(145)

10

In [ ]:
# Fibinocci series
numbers = int(input('Give a value: '))
n1 = 0
n2 = 1
for i in range(numbers):
  print(n1,end=' , ')
  summ = n1+n2
  n1=n2
  n2=summ

Give a value: 6
0 , 1 , 1 , 2 , 3 , 5 ,

In [ ]:
def fibinocci(num):
  if num == 1:
    return 0
  elif num== 2:
    return 1
  else:
    return fibinocci(num-1)+fibinocci(num-2)

In [ ]:
numbers = int(input('Give a value: '))
for i in range(1,numbers+1):
  print(fibinocci(i), end=',')

Give a value: 10
0,1,1,2,3,5,8,13,21,34,

In [ ]:
def fibinocci(num,n1,n2):
  if num <= 1:
    return n1
  else:
    print(n1,end=' ')
    summ=n1+n2
    n1=n2
    n2=summ
    return fibinocci(num-1,n1,n2)

In [ ]:
def fibinocci(num,n1,n2):
  if num <= 1:
    return n1
  else:
    print(n1,end=' ')
    summ=n1+n2
    return fibinocci(num-1,n2,summ)

In [ ]:
fibinocci(6,0,1)

0 1 1 2 3

5

Scoping

1. local

2. global

In [ ]:
n = 1
print(n)

1

In [ ]:
n = 1
for i in range(5):
  print(n)

1
1
1
1
1

In [ ]:
n = 1
def dummy():
    return 1

dummy()

1

In [ ]:
n = 1
def dummy():
  return 1

a = dummy()
print(a)

1

In [ ]:
n = 1
def dummy():
  print(1)

a = dummy()
print(a)

1
None

In [ ]:
n = 1
def dummy():
  n=2
  print(n)

dummy()

2

In [ ]:
n = 1
def dummy():
  n=2
  print(n)
print(n)
dummy()

1
2

In [ ]:
n = 1
def dummy():
  n=2
  print(n)
print(n)
dummy()

1
1

In [ ]:
n = 1
def dummy():
  print(n)
print(n)
dummy()

In [ ]:
n = 1
def dummy():
  print(n)
print(n)
dummy()

In [ ]:
n = 1
def dummy():
  n+=2
  print(n)
print(n)
dummy()

In [ ]:
p+=2 # p = p+2

In [ ]:
n = 1
def dummy():
  n+=2
  print(n)

dummy()
print(n)

In [ ]:
n = 1
def dummy():
  n = 3
  n+=2
  print(n)

print(n)
dummy()
print(n)

1
5
1

In [ ]:
n = 1
def dummy():
  global n
  n+=2
  print(n)

print(n)
dummy()
print(n)

1
3
3

In [ ]:
n = 1
def dummy():
  global n
  n+=2
  print(n)

print(n)
dummy()
print(n)

In [ ]:
def foo():
    x = 20

    def bar():
        global x
        x = 25

    print("Before calling bar: ", x) #

    bar()
    print("After calling bar: ", x) #

foo()
print("x in main: ", x) #

In [ ]:
def dummy1():
  print(1)
  def dummy2():
    print(2)
dummy2()
dummy1()

1
2

In [ ]:
a = 2
def d1():
  print(a)
  global a
  a+=2
  b = 1
  print(a)
d1()
print(a)
print(b)

In [ ]:
a = 2
def d1():
  global a
  print(a)
  a+=2
  b = 1
  print(a)
d1()
print(a)
print(b)

2
4
4

NameError: ignored

In [ ]:
a = 2
def d1():
  global a
  print(a)
  a+=2
  global b
  b = 1
  print(a)
d1()
print(a)
print(b)

2
4
4
1

In [ ]:
a=7
def b():
  a=2
  def c():
    global a
    a=3
    print(a)
  print(a)
  c()
  print(a)
b()
print(a)

2
3
2
3

In [ ]:
a=7
def b():
      global a
      a=2
      def c():
            global a
            a=3
            print(a)
      print(a)
      c()
      print(a)
b()
print(a)

2
3
3
3

Lambda function

In [ ]:
def a(n):
    return n+2

a(3)

5

In [ ]:
abc = lambda  n :  n+2
abc(3)

5

In [ ]:
n = 30
print('even') if ((n%2)==0) else print('odd')

even

In [ ]:
e_o = lambda n : print('even') if ((n%2)==0) else print('odd')
e_o(41)

odd

In [ ]:
s = lambda x,y : x * y
s(2,3)

6

In [ ]:
s = lambda x,y : print(x * y)
s(2,3)