<a href="https://colab.research.google.com/github/SHAZAN01/Python/blob/main/DA_23_Python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operators

In [ ]:
# Arithmetic Operators: +,  -,  *,  /,  //,  %,  **
# Assignment Operator: +=, -=, *=, /=, //=, %=, **=, <<=, >>=, &=, |=, ^=,
# bitwise operator: <<, >>, &, |, ~, ^
# comparision operator: < , >, ==, >=, <=, !=
# logical operator: and, or, not
# identity operator: is, is not
# membership operator: in, not in
# ternary/conditional operator:

In [ ]:
# a,b=19,3
# a,b = 3,19
# a + b
# a-b
# a*b
# print(a/b)
# print(a//b)
# print(a%b)

a ,b ,c= 2,6,3
# print(a**b)
print(a**c**c) #3**2 = 9**2 , #8**3, 2**27
# print(b**(a**a)) #
# print((b**a)**a) #
print(2**27)
# print(a**b**c) #
print(a**(c**c)) #
print((a**c)**c) #

134217728
134217728
134217728
512

Assignment operator

In [ ]:
a,b = 2,3
# a+a

# a = a+a
# a += a

# a = a+b
a += b
print(a,b)

5 3

In [ ]:
a,c,b = 1,2,3
a+=b  # a=1,b=3 ; a = a + b ; a = 1+3=4;  a=4,b=3
b+=c # b=3,c=2  ; b = b+c ; b = 3+2;  b=5,c=2
c+=a # c=2,a=4  ; c = c+a ; 2+4 ; c=6,a=4
print(c,a,b)

6 4 5

In [ ]:
b,c,a = 4,2,3
b+=a  # b=4,a=3  ; b = b+a = 4+3 = 7;  b=7,a=3
c-=b # c=2,b=7  ; c = c-b = 2-7 = -5 ;  c = -5,b=7
a*=b # a=3,b=7  ;  a = a*b = 3*7=21;  a = 21,b=7
print(b,a,c)

7 21 -5

In [ ]:
b,c,a = 4,2,3
c+=a-b # a=3,b=4,c=2 ;  c=c + (a-b) = 2+3-4=1;  a=3,b=4,c=1
c-=b*a #a=3,b=4,c=1 ;  c=c-(b*a)=1-12=-11 ; a=3,b=4,c=-11
a*=b+c #a=3,b=4,c=-11 ; a=a*b+c ; 3*(4-11) = 3*-7 ; a=-21,b=4,c=-11
print(c,b,a)

-11 4 -21

bitwise operator

In [ ]:
# bitwise operator: <<, >>, &, |, ~, ^
a,b = 15,13
# &
# a  b  a&b
# 0  0  0
# 0  1  0
# 1  0  0
# 1  1  1

print(a&b)

13

In [ ]:
a,b = 21,17
# |
# a  b  a|b
# 0  0  0
# 0  1  1
# 1  0  1
# 1  1  1

print(a|b)

21

In [ ]:
a,b = 19,31
# ^
# a  b  a^b
# 0  0  0
# 0  1  1
# 1  0  1
# 1  1  0

print(a^b)

12

In [ ]:
# left shift
print(5<<3)

# right shift
print(5>>2)

40
1

In [ ]:
~21

-22

In [ ]:
# comparision operator: < , >, ==, >=, <=, !=
# print(5 < 6)
# print(7 > 8)
# print(9<=9)
# print(11>=11)
# print(2 != 3)
# print(2==2)

True

In [ ]:
# print([1,2] == [1,2])
# print([1,2] == [2,1])
# print((1,2) == (1,2))
# print({2,1} == {1,2,3})
# print([1,2] == [1,2])

# print(2 == 2.0)
# print((4%2) > (2%4))

False

logical operator

In [ ]:
# True , 1 , value ,  success
# False , 0, empty , fail

In [ ]:
# logical operator: and, or, not

# and
# Find First False
# a  b  a and b
# F  F  F
# F  T  F
# T  F  F
# T1  T2  T2

# print(2 & 3)
# print(2 and 3)
# print(30 and 45)
# print(True and True )
# print([3,4] and [1,2])
# print('0' and '00')
# print('zero' and '0.0')
# print(0.0 and 0)

0.0

In [ ]:
# print( '0.0' and [0] and 0)
# print([] and {} and 0.0 and '')

print('1.0' and 0.0 and False and {} and [False] and 'False' and (0))

0.0

In [ ]:
# print( ' ' and ' ')
# print('2' and '')
# print(3 and 9 and 7 and [] and () and '' )

[]

In [ ]:
# or
# Find First True
# a  b  a or b
# F1  F2  F2
# F  T  T
# T  F  T
# T1  T2  T1

# print(2 | 3 )
# print(2 or 3)
print(30 or 45) # 30
print(True or True ) # True
print([3,4] or [1,2]) # [3,4]
print('0' or '00') # '0'
print('zero' or '0.0') # 'zero'
print(0.0 or 0) # 0

30
True
[3, 4]
0
zero
0

In [ ]:
print( ' ' or ' ')
print('2' or '')
print(3 or 9 or 7 or [] or () or '' )

2
3

In [ ]:
print(3 or 5 or 7 and 15 and 67 and 56 or 'hey')

print(3 and 9 or 7 and [] or () and '' )

3
9

In [ ]:
print('1.0' or 0.0 or {} or 'False' and (0))

1.0

In [ ]:
a = (0)
type(a)

int

In [ ]:
# a = 9
# a = int(9)
# a = int(9.0)
type(a)

int

In [ ]:
a = 8
a = str(a)
type(a)
a

'8'

In [ ]:
# a = ()
# a = (0)
# a = (0,1)
# a = (((((9.8)))))
a = 3+5-(((((6*4)))))
type(a)

float

In [ ]:
a = '3'
a = tuple((a))
print(type(a),a)

<class 'tuple'> ('3',)

In [ ]:
# ( ' ')
# print('' or not 0.0 and not False or {} and [False] or not 'False' and (0))

# not 1
not '    0.0    '

False

In [ ]:
# a = {}
a = set()
a
# type(a)

set()

In [ ]:
# identity operator: is, is not

print( 2 is 2)

# print([1,2] is [1,2])
# print([1,2] is [2,1])
# print((1,2) is (1,2))
# print({2,1} is {1,2,3})
# print([1,2] is [1,2])
# print(2 is 2.0)

True

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-66-7b2148e4bc5a>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print( 2 is 2)

In [ ]:
a = [1,2]
print(id(a))
print(a is a)
print([1,2] is [1,2])

139886273883392
True
False

In [ ]:
a = [1,2]
b = [1,2]
print(id(a))
print(id(b))

139886752139136
139886752141248

In [ ]:
# 0.1 + 0.2

0.30000000000000004

membership operator

In [ ]:
# in, not in
# print(2 in [2,3])

True