<a href="https://colab.research.google.com/github/SHAZAN01/Python/blob/main/DA_23_Python_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Iterational operation
1. for loop
2. while loop

In [ ]:
# while loop
# initialization
# while (condition for termination) :
  # incrementation/decrementation (or)
  # statement
  # incrementation/decrementation

In [ ]:
print(1)
print(1)
print(1)
print(1)
print(1)

1
1
1
1
1

In [ ]:
a = 1
while (a<=5):
  print(1)
  a+=1 #a=a+1

1
1
1
1
1

In [ ]:
num = int(input('insert a number to terminate: '))
a = 1
while (a<=num):
  print(a)
  a+=1 #a=a+1

In [ ]:
num = int(input('insert a number to terminate: '))
a = 0
while (a in range(num+1)):
  print(a)
  a+=1 #a=a+1

insert a number to terminate: 5
0
1
2
3
4
5

In [ ]:
# range(start,end,step)
# range(10)
# range(2,10)
# range(2,10,2)

In [ ]:
# all even numbers between 20-50
a = 20
while (a<51):
  if ((a%2)==0):
    print(a)
  a = a+1

In [ ]:
a = 20
while (a<51):
  print(a)
  a = a+2

In [ ]:
a = 20
while (a in range(51)):
  print(a)
  a = a+2

In [ ]:
a = 20
while (a in range(20,51,2)):
  print(a)
  a = a+2

In [ ]:
  list(range(20,51,2))

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [ ]:
# all even numbers between 100-50
a = 100
while (a>49):
  print(a)
  a-=2

In [ ]:
a = 100
while (a>49):
  if ((a%2)==0):
    print(a)
  a-=1

In [ ]:
a = 100
while (a in range(100,49,-1)):
  if ((a%2)==0):
    print(a)
  a-=1

In [ ]:
a = 100
while (a in range(100,49,-2)):
  print(a)
  a-=2

While loop on datatypes

In [ ]:
# numeric -int,float, complex
# cannot be iterated

In [ ]:
# String
a = 'python'
# print(len(a))
i=0
while (i < len(a)):
  print(a[i],end='\n') #\n , ' ', ''
  i+=1

In [ ]:
a = 'python'
# print(len(a))
i=0
while (i in  range(len(a))):
  print(a[i])
  i+=1

p
y
t
h
o
n

In [ ]:
# list
a = ['p','y','t','h']
i = 0
while (i<len(a)):
  print(a[i])
  i+=1

# list
a = ['p','y','t','h']
i = 0
while (i in range(len(a))):
  print(a[i])
  i+=1

p
y
t
h
p
y
t
h

In [ ]:
# tuple
a = ('p','y','t','h')
i = 0
while (i<len(a)):
  print(a[i])
  i+=1


# tuple
a = ('p','y','t','h')
i = 0
while (i in range(len(a))):
  print(a[i])
  i+=1

p
y
t
h
p
y
t
h

In [ ]:
# set
a = {'p','y','t','h'}
# Type convert set to other and then iterate

In [ ]:
# dict
a = {11:'p',2:'y',3:'t',4:'h'}
b = list(a.items())
i=0
while i < len(b) :
  print(b[i])
  #  print(b[i][0],':',b[i][1])
  i+=1

(11, 'p')
(2, 'y')
(3, 't')
(4, 'h')

In [ ]:
# dict
a = {11:'p',2:'y',3:'t',4:'h'}
b = list(a.keys())
i = 0
while (i<len(b)) :
  # print(a[b[i]])
  # print(b[i],' : ', a[b[i]])
  print(f'{b[i]} : {a[b[i]]}')
  i+=1

11 : p
2 : y
3 : t
4 : h

In [ ]:
# dict
a = {11:'p',2:'y',3:'t',4:'h'}
b = list(a.keys())
c = list(a.values())
i = 0
while (i<len(b)) :
  print(f'{b[i]} : {c[i]}')
  i+=1

11 : p
2 : y
3 : t
4 : h

In [ ]:
a = {11:'p',2:'y',3:'t',4:'h'}
# list(enumerate(a))

[(0, 11), (1, 2), (2, 3), (3, 4)]

In [ ]:
# 2 x 1 = 2
# 2 x 2 = 4
# 2 x 3 = 6
# ........
# 2 x 10 = 20

for loop

In [ ]:
# for (temporary iterative variable)  in (sequence):
      # statement

In [ ]:
for i in range(5):
  print(2)

2
2
2
2
2

In [ ]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
for i in range(2,51,2):
  print(i)

In [ ]:
# 100 - 50 odd numbers
for i in range(99,49,-2):
  print(i)

In [ ]:
for i in range(100,49,-1):
  if ((i%2)!=0):
    print(i)

In [ ]:
for i in 'python':
  print(i,end='  ')

p  y  t  h  o  n

In [ ]:
a = 'python'
for i in a:
  print(i,end='  ')

p  y  t  h  o  n

In [ ]:
a = 'python'
for i in range(len(a)):
  print(a[i])

p
y
t
h
o
n

In [ ]:
# reversal of the string
a = 'python'
# a[::-1]
# for loop
# while loop

'nohtyp'

In [ ]:
# while loop
a = 'python'
i = len(a)-1
while (i>=0):
  print(a[i],end='')
  i-=1

nohtyp

In [ ]:
# while loop
a = 'python'
i = len(a)-1
while (i in range(len(a)-1,-1,-1)):
  print(a[i],end='')
  i-=1

nohtyp

In [ ]:
a =  'python'
for i in a[::-1]:
  print(i)

n
o
h
t
y
p

In [ ]:
a =  'python'
for i in range(len(a)-1,-1,-1):
  print(a[i],end='')

nohtyp

In [ ]:
# Loop over all the items in list, tuple, set, dictionary?
# with range & without range

In [ ]:
a = ['p','y','t','h','o','n']
for i in a:
  print(i)

p
y
t
h
o
n

In [ ]:
a = ['p','y','t','h','o','n']
for i in range(len(a)):
  print(a[i])

p
y
t
h
o
n

In [ ]:
a = ['p','y','t','h','o','n']
for i in a[::-1]:
  print(i)

n
o
h
t
y
p

In [ ]:
a = ['p','y','t','h','o','n']
for i in range(len(a)-1,-1,-1):
  print(a[i])

n
o
h
t
y
p

In [ ]:
a = {'p','y','t','h','o','n'}
print(len(a))
for i in a:
  print(i)

6
p
h
t
y
o
n

In [ ]:
a = {'p':'y','t':'h','o':'n'}
for i in a:
  print(i)

p
t
o

In [ ]:
for i in a.keys():
  print(i)

p
t
o

In [ ]:
for i in a.values():
  print(i)

y
h
n

In [ ]:
for i in a.items():
  print(i)

('p', 'y')
('t', 'h')
('o', 'n')

In [ ]:
a = {'p':'y','t':'h','o':'n'}
for i in a:
  print(i , ':', a[i])

p : y
t : h
o : n

In [ ]:
# Sum of the first 10 natural numbers?
sum = 0
for i in range(1,11):
  sum = sum+i
print(sum)

55

In [ ]:
i = 1
sum = 0
while (i<11):
  # sum=sum+i
  sum+=i
  i+=1
print(sum)

55

In [ ]:
# Sum of the first 'n' natural numbers?
sum = 0
n = int(input('Enter a number: '))
for i in range(n+1):
  sum = sum+i
print(sum)

Enter a number: 15
120

In [ ]:
# Sum of the natural numbers in a given range?
sum = 0
n1 = int(input('Enter a number: '))
n2 = int(input('Enter a number: '))
for i in range(n1,n2+1):
  sum = sum+i
print(sum)

In [ ]:
# 2 x 1 = 2
# 2 x 2 = 4
# 2 x 3 = 6
# ........
# 2 x 10 = 20

# 3 x 1 = 3
# 3 x 2 = 6
# 3 x 3 = 9
# ........
# 3 x 10 = 30

# 4 x 1 = 4
# 4 x 2 = 8
# 4 x 3 = 12
# ........
# 4 x 10 = 40

In [ ]:
for i in range(2,5):
  print(f'\n{i} table')
  for j in range(1,11):
    print(f'{i} x {j} = {i*j}')

In [ ]:
n1 = int(input('Enter a number to start the table: '))
n2 = int(input('Enter a number to end the table: '))
for i in range(n1,n2+1):
  print(f'\n{i} table')
  for j in range(1,11):
    print(f'{i} x {j} = {i*j}')

### Patterns

Print the below patterns

In [ ]:
# *
# **
# ***
# ****
# *****
a = '* '
for i in range(5):
  print(a)
  a+='* '

*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(1,6):
  print('* '*i)

*
* *
* * *
* * * *
* * * * *

In [ ]:
' * '*4

' *  *  *  * '

In [ ]:
i = 1
while (i<=5):
  print("* "*i)
  i+=1

*
* *
* * *
* * * *
* * * * *

In [ ]:
a,i = '*',1
while (i<=5):
  print(a)
  a+='*'
  i+=1

In [ ]:
# *****
# ****
# ***
# **
# *
for i in range(5,0,-1):
  print(i*'*')

*****
****
***
**
*

In [ ]:
i = 5
while (i>=1):
  print(i*'* ')
  i-=1

* * * * *
* * * *
* * *
* *
*

In [ ]:
# 1
# 11
# 111
# 1111
# 11111
a = '1'
for i in range(5):
  print(a)
  a+='1'

1
11
111
1111
11111

In [ ]:
a = 1
for i in range(1,6):
  print(a)
  a+=(10**i)

1
11
111
1111
11111

In [ ]:
# 1
# 12
# 123
# 1234
# 12345

In [ ]:
a = ''
for i in range(1,6):
  a+=str(i)
  print(a)

1
12
123
1234
12345

In [ ]:
#     *
#    ***
#   *****
#  *******
# *********
s = 4
for i in range(1,10,2):
  print(s*' ' + i*'*')
  s-=1

    *
   ***
  *****
 *******
*********

pass

continue

break

In [ ]:
if 1:
  pass

In [ ]:
for i in range(1) :
  pass

continue

In [ ]:
#1,2,3,4,6,7,8
for i in range(1,9):
  if (i==5):
    continue
  print(i)

1
2
3
4
6
7
8

In [ ]:
# WAP to print odd numbers between 1-50 except multiples of 3 and 5?
for i in range(1,51,2):
  if (((i%3)==0) and ((i%5)==0)):
    continue
  else:
    print(i)

In [ ]:
a = 'pineapple'
# except p
for i in a:
  if i=='p':
    continue
  print(i)

i
n
e
a
l
e

In [ ]:
# do not print odd position 'p' in pineapple
a = 'pineapple'
for i in range(len(a)):
  if ((i%2)==0):
    if (a[i]=='p'):
      continue
  print(a[i])

i
n
e
a
p
l
e

In [ ]:
a = 'pineapple'
for i in range(len(a)):
  if (((i%2)==0) and (a[i]=='p')):
      continue
  print(a[i])

i
n
e
a
p
l
e

In [ ]:
#1,2,3,4,6,7,8
i=1
while i in range(1,9):
  if (i==5):
    i+=1
    continue
  print(i)
  i+=1

1
2
3
4
6
7
8

In [ ]:
! ls -a

.  ..  .config	sample_data

In [ ]:
for i in range(5):
  print(i)
else:
  print('hi')

hi

In [ ]:
for i in range(6):
  if i<=3:
    continue
else:
  print('hi')

In [ ]:
for i in range(6):
  if i<=3:
    continue
  print(i)
else:
  print('hi')

4
5
hi

In [ ]:
for i in range(6):
  if i<=3:
    break
  print(i)
else:
  print('hi')

In [ ]:
for i in range(6):
  if i>3:
    break
  print(i)
else:
  print('hi')

0
1
2
3

In [ ]:
num=1
count=2
row=5
s=13
for i in range(row):
  for j in range(1,count):
    print(num,end = ' ')
    num+=1
  print()
  # print(" "*s)
  count+=1
  s-=2

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15